button {
    display: flex;
    padding: 0.2rem;
    background-color: rgb(0, 0, 0);
    color: rgb(130, 230, 227);
    border-image: initial;
    border-top-color: buttonborder;
    border-radius: 10px;
    align-items: center;
    text-decoration: none;
    color: #3359ec;
    transition: 0.5s;
    
}
button:hover {
    transform: scale(1.2);
    color: aquamarine;

}