.cardapioConteiner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardapioItem {
    display: flex;
    width: 300px;
    background-color: #000;
    padding: 1rem;

}


img {
    max-width: 40%;

}
.cardapioImagem {
    display: flex;
    align-items: center;

}