.cardapioConteiner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardapioItem {
    width: 100%;
    margin: 5px;
	padding: 5px;
    display: flex;
    width: 300px;
    background-color: rgb(241, 169, 213);
    padding: 1rem;
    font-size: 1.5em;
  font-weight: 700;
  line-height: 100%;
}
    

.cardapioName {
    color: rgb(169, 37, 37);
    font-size: 1.5rem;
}

.cardapioDescription {
    color: black;
    font-size: .8rem;
}
h2 {
    display: block;
    font-size: .5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


img {
    max-width: 50%;
    
}
.cardapioImagem {
    display: flex;
    align-items: center;
    
}
.botaoModal {
    background-color: blueviolet;
    color: #fff;
}
.adicionar {
    background-color: blueviolet;
    color: #fff;
}
.item__badge {

    background-color: rgb(0, 0, 0);
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    color: rgb(255, 255, 255);
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    top: -9px;
    left: -9px;
  }
  .Acoes__remover {
    background-color: rgb(226, 43, 43);
    color: #fff;
  }