button {
    display: flex;
    background-color: rgb(0, 0, 0);
    color: rgb(130, 230, 227);
    border-image: initial;
    border-top-color: buttonborder;
    border-radius: 10px;
    align-items: center;
    text-decoration: none;
    color: #3359ec;
    transition: 0.5s;
    
}
button:hover {
    transform: scale(1.2);
    color: aquamarine;

}
.AdicionarPratoModal {
    font-family: "Exo";
    border-radius: 10px;
    max-height: 350px;
    box-sizing: border-box;
    width: 325px;
    display: flex;
    position: relative;
    transform: translateY(-15px);
    margin-right: -45px;
  }
  
  .AdicionarPratoModal form div {
    display: flex;
    margin: 15px 0;
  }
  
  .AdicionarPratoModal form {
    width: 100%;
  }
  .AdicionarPratoModal h2{
    font-size: 1rem;
  }
  
  .AdicionarPratoModal div input {
    border: none;
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
    margin-left: 15px;
    border-radius: 5px;
    height: 20px;
    padding: 2px 10px;
  }
  
  .AdicionarPratoModal__text {
    font-size: 1em;
    line-height: 100%;
  }
  
  .AdicionarPratoModal__imagem-label {
    display: flex;
    justify-content: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    color: darkviolet;
    cursor: pointer;
    padding: 5px 10px;
  }
  

  
  .AdicionarPratoModal__enviar {
    background-color: darkviolet;
    cursor: pointer;
    color: white;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 5px;
  }
  
 